

body{
  font-family: "acumin-pro-extra-condensed","Acumin Pro ExtraCondensed",sans-serif;
  background-color: pink;
  font-size: 20px;
}



.App {
  margin: 0px !important;
  text-align: center;
  background-color: pink;
  align-self: center;
  align-content: center;
  width: 100%;
}

img{
        border-radius: 25px;
}
.image{
  padding-bottom: 1em;
}


.pad{
  background-color: white;
      border-radius: 25px;
  padding-top: .1em;
  margin-left: 4em;
  margin-right: 4em;
  padding-left: 3em;
  padding-right: 3em;
    padding-bottom: 1em;
}

.Header{
    background-color: pink;
    font-family: "Brush Script MT", cursive;
    padding: none;
    margin: none !important;
    margin-block-start: none !important;
margin-block-end: none !important;
}


h1{
  background-color: pink;
      margin: 0;
  font-family: "Brush Script MT", cursive;
  font-size: 100px;
      font-weight: normal;
}

a {
  color: black;
}

h3{
font-family: Impact, Charcoal, sans-serif;
font-weight: normal;
}
