
body{
  font-family: "acumin-pro-extra-condensed","Acumin Pro ExtraCondensed",sans-serif;
  background-color: pink;
}


.App {
  text-align: center;
  background-color: white;
}


.Header{
    background-color: pink;
    font-family: "Brush Script MT", cursive;
    padding: none;
    margin: none !important;
    margin-block-start: none !important;
margin-block-end: none !important;
}


h1{
  background-color: pink;
      margin: 0;
  font-family: "Brush Script MT", cursive;
  font-size: 100px;
      font-weight: normal;
}

a {
  color: black;
}

h3{
font-family: Impact, Charcoal, sans-serif;
font-weight: normal;
}
